    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <!-- 作者信息 -->
    <meta name="author" content="{{ site.name }}" />

    <meta name="keywords" content="Robotics, VLN, VLA, Deep Learning, AI, Blog" />

    <!-- 网页描述 -->
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 160 }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 160 }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    <!-- OpenGraph 元数据 -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
        <meta property="og:title" content="{{ site.name }} | {{ site.description }}" />
        <meta property="twitter:title" content="{{ site.name }} | {{ site.description }}" />
    {% endif %}

    <!-- <meta property="og:image" content="https://kwanwaipang.github.io/Poster_files/hku_logo.jpg" /> -->
    <meta property="og:image" content="{{ site.favicon }}" />
    

    <!-- OpenGraph 协议 中的一个元标签，用于指定网页内容的默认语言 -->
    <meta property="og:locale" content="en" />

    <!-- Google Search Console.-->
    <meta name="google-site-verification" content="Jtxa1xy6N3_2RjVVFrZgXjPZ0AHklxJXQ1eQ6QXNWr8" />
