<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{% if page.layout == 'post' %}no-sidebar{% endif %}">
    <!-- 只在非文章页面显示导航侧边栏 -->
    {% unless page.layout == 'post' %}
      {% include nav.html %}
    {% endunless %}

    <!-- 如果当前页面的toc为true，就添加目录 -->
    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content h_min=1 h_max=2 %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <!-- Google Analytics -->
    {% include analytics.html %}
  </body>

  <!-- 如果当前页面的toc为true，就添加目录 -->
  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>


</html>
